<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    {% load static %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(70945984, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/70945984" style="position:absolute; left:-9999px;" alt="yandex-icon"/>
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <script src="//code-ya.jivosite.com/widget/MRtJcXRPHP" async></script>
    <link rel="icon" href="{% static 'website' %}/images/favicon.png" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="{% static 'website' %}/images/favicon192.png" type="image/x-icon">
    <meta name="theme-color" content="#f06956">

    <script src="//code-ya.jivosite.com/widget/MRtJcXRPHP" async></script>

    <style>
        @font-face {
            font-family: BebasNeue-Bold; /* Гарнитура шрифта */
            src: url("{% static 'website' %}/fonts/BebasNeue-Bold.ttf"); /* Путь к файлу со шрифтом */
        }

        h2 {
            font-family: BebasNeue-Bold, sans-serif;
        }
    </style>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description"
          content="Авторский курс по программированию на языке Python с нуля. Напишите своего первого Telegram бота за 2 месяца.">
    <meta name="author" content="Аликс Плисов">
    <meta name="copyright" content="Сайт Плисова Аликса Ахмедовича"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <meta name="robots" content="index,follow"/>
    <meta name="keywords" content="программирование, курсы, обучение, python, разработка, индивидуальное обучение"/>


    <title>🏆Обучение программированию на Python</title>
    <!--

    Lava Landing Page

    https://templatemo.com/tm-540-lava-landing-page

    -->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'website' %}/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'website' %}/css/font-awesome.css">

    <link rel="stylesheet" href="{% static 'website' %}/css/templatemo-lava.css">

    <link rel="stylesheet" href="{% static 'website' %}/css/owl-carousel.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12"
                 style="padding-left: 0px;
    padding-right: 0px;">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo" style="text-align: center">AlixLearn
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#about" class="menu-item">Преимущества</a></li>
                        <li class="scroll-to-section"><a href="#testimonials" class="menu-item">Автор курса</a>
                        </li>
                        <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Связаться</a></li>
                    </ul>
                    <a class="menu-trigger">
                        <span>Меню</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->


<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                     data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <h1>Курс разработки на <em>Python</em></h1>
                    <p>
                        Привет! Меня зовут Аликс, я занимаюсь разработкой более трех лет и обучаю этому других.
                        Представляю курс, на котором ты создашь свое первое приложение
                        на языке программирования Python
                    </p>
                    <a href="#about" class="main-button-slider">Что входит в курс?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                 data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>01</h2>
                        <img style="max-width: 80px;" src="{% static 'website' %}/images/feature.png"
                             alt="features-icon">
                        <h4>Личная консультация</h4>
                        <p>Чтобы гарантировать результат, я лично консультирую каждого ученика еще до начала
                            обучения</p>
                        <a href="#contact-us" class="main-button">
                            Хочу консультацию
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                 data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>02</h2>
                        <img style="max-width: 80px;" src="{% static 'website' %}/images/feature2.png"
                             alt="features-icon">
                        <h4>Индивидуальный подход</h4>
                        <p>План обучения составляется лично для тебя. Я учитываю твои возможности и довожу до результата
                            в комфортном темпе</p>
                        <a href="#testimonials" class="main-button">
                            Узнать больше
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                 data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>03</h2>
                        <img style="max-width: 80px;" src="{% static 'website' %}/images/feature3.png"
                             alt="features-icon">
                        <h4>Первый проект</h4>
                        <p>После прохождения курса ты получишь опыт реальной разработки, первый проект в портфолио и
                            именной сертификат</p>
                        <a href="#contact-us" class="main-button">
                            Готов начать?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="left-image-decor"></div>

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion">
    <div class="container">
        <div class="row">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                 data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="{% static 'website' %}/images/left-image.png" class="rounded img-fluid d-block mx-auto"
                     alt="promotion">

            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="{% static 'website' %}/images/about-icon-01.png" alt="telegram-icon">
                        <div class="text">
                            <h4>Ты создашь бота</h4>
                            <p>Результатом прохождения этого курса станет твой первый Telegram бот
                                на языке Python 3.9.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="{% static 'website' %}/images/about-icon-02.png" alt="money-icon">
                        <div class="text">
                            <h4>Он сможет приносить доход</h4>
                            <p>Созданный бот будет поддерживать прием платежей, ты сможешь получать оплату и
                                окупишь обучение с первым заказом.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="{% static 'website' %}/images/about-icon-03.png" alt="smart-icon">
                        <div class="text">
                            <h4>И решать разные задачи</h4>
                            <p>Возможности бота ограничены только твоим воображением. После обучения станет понятно,
                                как его развивать и добавлять новые функции.</p>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="right-image-decor"></div>

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2>Трехлетний опыт<br><em>в одном курсе</em></h2>

                    <img class="rounded img-fluid d-block mx-auto" src="{% static 'website' %}/images/author.jpg"
                         alt="author">

                    <p>Аликс Плисов.<br>Программист, педагог и автор программы курса.</p>
                </div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                 data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <div class="testimonial-content">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h4>Отзывы учеников</h4><br>
                            <img src="{% static 'website' %}/images/whatsapp2.jpg" alt="feedback1">
                            <span>alixlearn.ru</span>
                        </div>
                    </div>
                    <div class="item service-item">
                        <div class="testimonial-content">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h4>Отзывы учеников</h4><br>
                            <img src="{% static 'website' %}/images/whatsapp3.jpg" alt="feedback2">
                            <span>alixlearn.ru</span>
                        </div>
                    </div>
                    <div class="item service-item">
                        <div class="testimonial-content">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h4>Отзывы учеников</h4><br>
                            <img src="{% static 'website' %}/images/whatsapp4.jpg" alt="feedback3">
                            <span>alixlearn.ru</span>
                        </div>
                    </div>
                    <div class="item service-item">
                        <div class="testimonial-content">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h4>Отзывы учеников</h4><br>
                            <img src="{% static 'website' %}/images/whatsapp5.jpg" alt="feedback4">
                            <span>alixlearn.ru</span>
                        </div>
                    </div>
                    <div class="item service-item">
                        <div class="testimonial-content">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h4>Отзывы учеников</h4><br>
                            <img src="{% static 'website' %}/images/whatsapp1.jpg" alt="feedback5">
                            <span>alixlearn.ru</span>
                        </div>
                    </div>
                    <div class="item service-item">
                        <div class="testimonial-content">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h4>Отзывы учеников</h4><br>
                            <img src="{% static 'website' %}/images/whatsapp6.jpg" alt="feedback6">
                            <span>alixlearn.ru</span>
                        </div>
                    </div>
                    <div class="item service-item">
                        <div class="testimonial-content">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h4>Отзывы учеников</h4><br>
                            <img src="{% static 'website' %}/images/whatsapp7.jpg" alt="feedback7">
                            <span>alixlearn.ru</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Testimonials Ends ***** -->


<!-- ***** Footer Start ***** -->

<footer id="contact-us">
    <div class="container">
        <div class="footer-content">

            <div class="row">
                <!-- ***** Contact Form Start ***** -->

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="contact-form">

                        <h4 style="margin-bottom: 30px; text-transform: uppercase">Оставить заявку</h4>

                        <form id="contact" action="/contact" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" id="name" placeholder="Ваше имя" required=""
                                               style="background-color: rgba(250,250,250,0.3);">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="phone" type="tel" id="email" placeholder="Телефон"
                                               required="" style="background-color: rgba(250,250,250,0.3);">
                                    </fieldset>
                                </div>
                                <!--                                <div class="col-lg-12">-->
                                <!--                                    <fieldset>-->
                                <!--                                            <textarea name="message" rows="6" id="message" placeholder="Your Message"-->
                                <!--                                                      required=""-->
                                <!--                                                      style="background-color: rgba(250,250,250,0.3);"></textarea>-->
                                <!--                                    </fieldset>-->
                                <!--                                </div>-->
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Отправить
                                        </button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
                <div class="right-content col-lg-6 col-md-12 col-sm-12">
                    <h2>Для кого этот <em>курс</em>?</h2>
                    <p>Этот курс создан для тех, кто хочет начать программировать, создавать реальные проекты, которые
                        принесут пользу, доход и опыт настоящей разработки на языке Python.
                        <br><br>Самое важное, что я как автор курса гарантирую результат, - по окончании обучения у
                        тебя будет готовый, написанный с нуля Telegram бот с полноценной платежной системой на базе
                        Яндекс Денег</p>
                    <ul class="social">
                        <li><a href="https://wa.me/79384779530"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="https://www.instagram.com/alixlearn"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://vk.com/alixplisov"><i class="fa fa-vk"></i></a></li>
                        <li><a href="tel:+79384779530"><i class="fa fa-phone"></i></a></li>
                        <li><a href="https://t.me/plisovalix"><i class="fa fa-telegram"></i>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>&copy; 2021 AlixLearn

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'website' %}/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="{% static 'website' %}/js/popper.js"></script>
<script src="{% static 'website' %}/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="{% static 'website' %}/js/owl-carousel.js"></script>
<script src="{% static 'website' %}/js/scrollreveal.min.js"></script>
<script src="{% static 'website' %}/js/waypoints.min.js"></script>
<script src="{% static 'website' %}/js/jquery.counterup.min.js"></script>
<script src="{% static 'website' %}/js/imgfix.min.js"></script>
<script src="https://kit.fontawesome.com/cbe46ede4a.js" crossorigin="anonymous"></script>
<!-- Global Init -->
<script src="{% static 'website' %}/js/custom.js"></script>
<style>p {
    font-family: 'Open Sans', sans-serif;
}</style>
</body>
</html>